body {
  overflow: auto !important;
}

.main {
  height: auto;
  overflow: visible !important;
}
.services_Page_Section,
.container,
.services_layout {
    overflow: visible !important;
}
.services_Page_Section {
    background: var(--pageBackgroundColor);
    padding: 50px 0;

}

.services_Page_Section h2 {
    font-size: 2.4rem;
    margin-bottom: 12px;
    color: var(--mainColor);
}

.services_Page_Section .subtitle {
    color: gray;
    margin: 40px 0 40px 0 !important;
    font-size: 1.1rem;
    max-width: 640px;
}

.services_layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    margin-top: 60px;
    align-items: start;
}

/* tabs */

.services_tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    top: 20px;
    align-self: start;
}

.service_tab {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    background: #fff;
    color: var(--mainColor);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.service_tab span {
    font-size: .85rem;
}

.service_tab i {
    color: #1872B8;
    font-size: 18px;
}

.service_tab:hover {
    transform: translateX(5px);
}

.service_tab.active {
    background: var(--mainColor);
    color: white;
}

.service_tab.active i {
    color: white;
}

/* right content */

.services_content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.05);
}

.service_panel {
    display: none;
    animation: fadeIn .4s ease;
}

.service_panel.active {
    display: block;
}

.service_panel h3 {
    font-size: 28px;
    margin-bottom: 20px !important;
}

.service_panel p {
    color:#64748b;
    margin-bottom:25px !important;
}

.service_features {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.service_features li {
    margin-bottom: 10px !important;
    color: #475569;
    font-size: .85rem;
}

.service_features li::before {
    content: "✓";
    margin-right: 10px;
    color: #1872B8;
}

.service_btn {
    display: inline-block;
    background: #1872B8;
    color: white;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and ( max-width: 992px ) {

    .services_layout {
        grid-template-columns: 1fr;
    }

    .services_tabs {
        flex-direction: row;
        padding: 10px 0;
        gap: 7px !important;
    }

    .service_tab {
        white-space: nowrap;
        padding: 7px 10px !important;
        gap: 7px !important;

        span {
            font-weight: 200 !important;
        }

        i {
            font-size: .7rem !important;
        }
    }
}









