@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: 600;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainFontPoppins);
}

dl, ol, ul, li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, address
{
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

:root {
    --mainColor: #313131;
    --blackColor: #000;
    --whiteColor: #fff;
    --mainFont: "Geologica", sans-serif;
    --borderRadius120: 120px;
    --borderRadius7Btn: 7px;
}

/* Header */

#header {
    background-color: var(--whiteColor);
    border-radius: 30px;
    border: 1px solid var(--mainColor);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 100;

    .header_Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    .header_Address {
        display: flex;
        align-items: center;
        gap: 0 20px;

        a {
            font-size: 14px;
            color: var(--mainColor);
        }
    }

    .header_Language {

        .change_Language {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
        }
    }
}

.navbar {
    padding: 0 !important;

    .container-fluid {
        padding: 0;
    }
}

.navbar-nav {
    gap: 0 20px;
}

.navbar-brand {
    z-index: 2;
    border: 1px solid var(--whiteColor);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.mobile_Menu_Logo {
    display: none;
}

.navbar-brand img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #fff;
}

ul.navbar-nav.mx-auto.my-2.my-lg-0.navbar-nav-scroll {
    max-height: max-content;
}

.nav-link {
    font-weight: 400 !important;
    padding: 0 !important;
    color: var(--mainColor) !important;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px !important;

    svg {
        width: 24px;
        height: 24px;
        filter: brightness(1) invert(0);
        margin: 0 7px 0 0 !important;
        margin-top: 5px;
        filter: brightness(0) invert(0);
        transition: .3s;
    }
}

.nav-item a:hover {
    color: #000 !important;
    font-weight: 400 !important;
}




.navbar-toggler {
    border: none !important;
    background: transparent;
    padding: 5px;
    outline: none !important;
    box-shadow: none !important;
}

.custom-toggler {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
}

.custom-toggler span {
    background-color: var(--mainColor);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.custom-toggler span:nth-child(1) {
    top: 0;
}
.custom-toggler span:nth-child(2) {
    top: 9px;
}
.custom-toggler span:nth-child(3) {
    bottom: 0;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 9px;
}

.free_Consulting_Btn {
    border: 1px solid var(--mainColor);
    padding: 7px 20px;
    border-radius: 40px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}

.free_Consulting_Btn:hover {
    background-color: var(--whiteColor);
    color: var(--mainColor);
}



/* Banner */

#banner {
    position: relative;
    margin-top: -30px;
}

.Banner_Carousel {
    position: relative;
}

.carousel-item {
    max-height: 500px !important;
}

.carousel-inner {
    border-radius: 0 0 var(--borderRadius120) var(--borderRadius120);
    max-height: 500px !important;

    .carousel-item {
        position: relative;
        max-height: 500px !important;

        img {
            width: 100%;
            height: 500px !important;
            object-fit: cover;
        }
    }

    .carousel-item::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #000000;
        background: linear-gradient(149deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.59) 100%);        z-index: 1;
    }

    .carousel-caption {
        position: absolute;
        z-index: 2;
    }
}

.banner_Title_Text {
    position: absolute;
    top: 50%;
    left: 230px;
    transform: translate(0, -50%);
    z-index: 9;

    small {
        color: var(--whiteColor);
    }

    h2 {
        max-width: 800px;
        color: var(--whiteColor);
        max-width: 400px;
        margin: 30px 0 !important;
        font-size: 38px;
    }

    p {
        max-width: 500px;
        color: var(--whiteColor);
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 300;
    }

    

        .free_Consulting_Btn {
            background-color: var(--whiteColor);
            border-radius: 30px;
            padding: 10px 20px !important;
            color: var(--mainColor);
        }
    
}

.carousel-indicators {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(-60px, -50%);
    left: auto !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;

    button {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        margin: 4px !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
}

.banner_SicialMedia {
    position: absolute;
    top: 50%;
    left: 60px;
    display: flex;
    transform: translate(-100px, -50%) rotate(-90deg); 
    align-items: center;
    gap: 10px;
    z-index: 10;

    small {
        color: var(--whiteColor);
    }

    a {
        width: 30px;
        height: 30px;
        background-color: var(--whiteColor);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--mainColor);
    }
}

.prew_Next_Btn {
    position: absolute;
    bottom: 30px;
    left: 230px;
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 10;
}

.prew_Next_Btn .carousel-control-prev,
.prew_Next_Btn .carousel-control-next {
    position: static;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prew_Next_Btn .carousel-control-prev-icon,
.prew_Next_Btn .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

/* Info Counter */

.info_Counter_Cards {
    /* position: absolute; */
    bottom: -80px;
    right: 60px !important;
    z-index: 9;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 10px;

    .info_Counter_Card {
        background-image: url('../assests/images/panacealogoWhiteDots.png.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--mainColor);
        padding: 15px 15px;
        min-height: 100%;
        width: 270px;
        border-radius: 50px 0 50px 0 !important;
        border-radius: var(--borderRadius7Btn);
        text-align: center;
        box-shadow: 0px 4px 25px rgb(0, 0, 0);

        svg {
            margin-bottom: 10px;
        }

        small {
            font-size: 34px;
            font-weight: 700;
            color: var(--whiteColor);
        }

        p {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: .5px;
            color: var(--whiteColor);
        }
    }
}

/* Services */

#services {
    margin: 80px 0;
}

.section_Title h2 {
    width: 280px !important;
    font-size: 38px;
    font-weight: 700;
}

.section_Title h2::after {
    content: "";
    background-color: var(--mainColor);
    width: 80px;
    height: 4px;
    border-radius: 2px;
    margin-top: 20px;
    display: block;
    clear: both;
}

.services_Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0px;
    margin-top: 50px;
}

.service_Card {
    position: relative;
    width: 310px;
    height: 310px;
    margin: 20px 0;
    text-align: center;
    border-radius: 90px 0 90px 0;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.649);
    background-image: url('/assests/images/panacealogoBlackDots.png.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
}

.service_Card_Title_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px 0;
    height: 100%;

    h3 {
        font-size: 23px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        max-width: 90%;
    }

    .service_Card_More_Icon {
        background-color: var(--mainColor) !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        img {
            width: 25px;
        }
    }
}

    .services_Card_Text_Btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px 0;
    }

.service_Card:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);
    transition: .5s;

    & .service_Card_More_Icon {
        background-color: var(--whiteColor) !important;

        img {
            filter: invert(1);
            z-index: 999 !important;
        }
    }
}

.service_Card:hover svg {
    filter: brightness(0) invert(0);
    transition: .5s;
}

.service_Card:hover svg {
    filter: brightness(0) invert(1);
    transition: .5s;
}

.star_Anime_Icon {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 50px;
}

.service_Card:hover .star_Anime_Icon {
    animation: starEnter .2s ease-in-out forwards;
}

.service_Card:not(:hover) .star_Anime_Icon {
    animation: starExit .2s ease-in-out forwards;
}

@keyframes starEnter {
    0% {
        top: -30px;
        left: -30px;
        transform: rotate(0deg) scale(0.8);
    }
    100% {
        top: 30px;
        left: 220px;
        transform: rotate(380deg) scale(1);
    }
}

@keyframes starExit {
    0% {
        top: 30px;
        left: 220px;
        transform: rotate(-360deg) scale(1);
    }
    100% {
        top: -30px;
        left: -30px;
        transform: rotate(-720deg) scale(0.8);
    }
}


/* About */

.about_Background {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

    .about_Dots_1 {
        position: absolute;
        width: 350px;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 9;
    }

    .about_Dots_2 {
        position: absolute;
        width: 350px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 9 !important;
    }
}

.about_Background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #000000;
    background: linear-gradient(149deg, rgba(0, 0, 0, 0.822) 0%, rgba(0, 0, 0, 0.743) 100%);        z-index: 1;
}

.about_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    z-index: 9999 !important;
    color: var(--whiteColor);
    text-align: center;

    .about_Title {
        position: relative;
        z-index: 9;

        p {
            font-size: 38px !important;
            font-weight: 700;
        }

        small {
            font-size: 20px;
            font-weight: normal;
        }
    }

    .about_Title::after {
        content: "";
        background-color: var(--whiteColor);
        width: 80px;
        height: 4px;
        border-radius: 2px;
        margin: 20px auto 0 auto;
        display: block;
        clear: both;
    }

    a {
        background-color: var(--whiteColor) !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        margin: auto;
    }

    .about_Text_More_Btn {
        z-index: 9;

        p {
            font-size: 16px;
            font-weight: 400;
            color: #dbdbdb;
            margin-bottom: 30px !important;
        }
    }

    .about_Text_More_Btn img {
        width: 30px;

    }
}



















/* Mobile */

@media screen and ( max-width: 992px ) {

    /* Navbar */

    .navbar-nav {
        gap: 20px 20px;
    
        .navbar-brand {
            display: none;
        }
    }

    
    .mobile_Menu_Logo {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    ul.navbar-nav.mx-auto.my-2.my-lg-0.navbar-nav-scroll {
        text-align: center !important;
        align-items: center;
    }

    /* Banner */

    #banner {
        margin-top: 20px;
    }

    /* Info Counter */

    .info_Counter_Cards {

        .info_Counter_Card {
            width: 270px;

            svg {
                font-size: 1px !important;
                margin-bottom: 10px;
            }

            small {
                font-size: 24px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

@media screen and ( max-width: 850px ) {

    
}

@media screen and ( min-width: 768px ) {
    
    nav {
        padding-left: 0 !important;
    }

    .navbar-toggler {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    /* Info Counter */

    .info_Counter_Cards {
        display: flex;
        justify-content: space-between;
        gap: 0 10px;

        .info_Counter_Card {
            width: 27%;
        }
    }
}

@media screen and ( max-width: 768px ) {

    /* Header */

    #header {
        display: none;
    }

    /* Navbar */

    nav.container {
        margin-top: 20px !important;
    }

    /* Info COunter */
    
    .info_Counter_Cards {
        justify-content: center;
        gap: 30px 10px;

        .info_Counter_Card {
            width: 470px;

            svg {
                margin-bottom: 10px;
            }

            small {
                font-size: 34px;
                font-weight: 700;
                color: var(--whiteColor);
            }

            p {
                font-size: 25px;
                font-weight: 500;
                letter-spacing: .5px;
                color: var(--whiteColor);
            }
        }
    }

    .services_Cards {
        justify-content: center;
    }

    /* Banner */

    .banner_Title_Text {
        left: 70px !important;

        h2 {
            font-size: 18px !important;
            max-width: 300px;
        }

        p {
            font-size: 12px !important;
        }
    }

    .carousel-inner {
        border-radius: 0 0 50px 50px;
        max-height: 500px !important;

        .carousel-item {
            position: relative;
            max-height: 500px !important;

            img {
                width: 100%;
                height: 500px !important;
                object-fit: cover;
            }
        }
    }

.banner_SicialMedia {
    left: 5px !important;
}

.carousel-indicators {
    right: -50px !important;
}

.prew_Next_Btn {
    left: 70px;
}

.prew_Next_Btn {
    gap: 10px !important;
}

.prew_Next_Btn {
    right: 35px;
}

.prew_Next_Btn .carousel-control-prev, .prew_Next_Btn .carousel-control-next {
    width: 35px;
    height: 35px;
}

    .banner_Title_Text {
        left: 160px;
        width: 290px;

        h2 {
            font-size: 18px !important;
            max-width: 300px;
        }

        p {
            font-weight: 400;
            font-size: 12px !important;
        }
    }

    .free_Consulting_Btn {
        padding: 5px 10px !important;
        font-size: 12px !important;
    }

    
}