@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: 600;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../GeologicaFont/static/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainFontPoppins);
}

dl, ol, ul, li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, address
{
    margin: 0 !important;
}

p {
    margin: 0;
}

:root {
    --mainColor: #313131;
    --blackColor: #000;
    --whiteColor: #fff;
    --mainFont: "Geologica", sans-serif;
    --borderRadius120: 120px;
    --borderRadius7Btn: 7px;
}

/* Header */

#header {
    background-color: var(--whiteColor);
    border-radius: 30px;
    border: 1px solid var(--mainColor);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 100;

    .header_Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    .header_Address {
        display: flex;
        align-items: center;
        gap: 0 20px;

        a {
            font-size: 14px;
            color: var(--mainColor);
        }
    }

    .header_Language {

        .change_Language {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
        }
    }
}

/* nav */
/* 
nav {
    width: 100%;
    background-color: var(--whiteColor);
    z-index: 100;

    .container {
        padding: 0 !important;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 40px;
        transform: translate(-50%, 0);
    }
}

.nav_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav_Logo {

    img {
        width: 120px;
    }
}

.nav_Menu {
    display: flex;
    align-items: center;
    gap: 0 25px;

    li {
        a {
            font-size: 14px;
            color: var(--mainColor);
            font-weight: 500;
            padding: 7px 0;
            transition: .3s;

            &:hover {
                color: var(--blackColor);
            }
        }
    }
}

.nav_Buttons .btn_Consulting {
    border: 1px solid var(--mainColor);
    padding: 7px 20px;
    border-radius: 40px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-size: 14px;
    transition: .3s;
}

.nav_Buttons .btn_Consulting:hover {
    border: 1px solid var(--mainColor);
    background-color: var(--whiteColor);
    color: var(--mainColor);
} */


.navbar {
    padding: 0 !important;

    .container-fluid {
        padding: 0;
    }
}

.navbar-nav {
    gap: 0 20px;
}

.navbar-brand {
    /* position: absolute; */
    z-index: 2;
    /* top: 0px !important; */
    border: 1px solid var(--whiteColor);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.navbar-brand img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    box-shadow: 0 0 0 20px #fff;
}

ul.navbar-nav.mx-auto.my-2.my-lg-0.navbar-nav-scroll {
    max-height: max-content;
    align-items: center;
}

.navbar-toggler {
  border: none !important;
  background: transparent;
  padding: 5px;
  outline: none !important;
  box-shadow: none !important;
}

.custom-toggler {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: relative;
}

.custom-toggler span {
  background-color: var(--mainColor);
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.custom-toggler span:nth-child(1) {
  top: 0;
}
.custom-toggler span:nth-child(2) {
  top: 9px;
}
.custom-toggler span:nth-child(3) {
  bottom: 0;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .custom-toggler span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-bottom: 10px !important;
} */

.free_Consulting_Btn {
    border: 1px solid var(--mainColor);
    padding: 7px 20px;
    border-radius: 40px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-size: 14px;
    transition: .3s;
}

.free_Consulting_Btn:hover {
    background-color: var(--whiteColor);
    color: var(--mainColor);
}



/* Banner */

#banner {
    margin-top: 0px;
}

.Banner_Carousel {
    position: relative;
}

.carousel-item {
    max-height: 500px !important;
}

.carousel-inner {
    border-radius: 0 0 var(--borderRadius120) var(--borderRadius120);
    max-height: 500px !important;

    .carousel-item {
        position: relative;
        max-height: 500px !important;

        img {
            width: 100%;
            height: 500px !important;
            object-fit: cover;
        }
    }

    .carousel-item::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #000000;
        background: linear-gradient(149deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.59) 100%);        z-index: 1;
    }

    .carousel-caption {
        position: absolute;
        z-index: 2;
    }
}

.banner_Title_Text {
    position: absolute;
    top: 50%;
    left: 230px;
    transform: translate(0, -50%);
    z-index: 9;

    small {
        color: var(--whiteColor);
    }

    h2 {
        max-width: 800px;
        color: var(--whiteColor);
        max-width: 400px;
        margin: 30px 0 !important;
        font-size: 38px;
    }

    p {
        max-width: 500px;
        color: var(--whiteColor);
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 300;
    }

    

        .free_Consulting_Btn {
            background-color: var(--whiteColor);
            border-radius: 30px;
            padding: 10px 20px !important;
            color: var(--mainColor);
        }
    
}

.carousel-indicators {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(-60px, -50%);
    left: auto !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;

    button {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        margin: 4px !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
}

.banner_SicialMedia {
    position: absolute;
    top: 50%;
    left: 60px;
    display: flex;
    transform: translate(-100px, -50%) rotate(-90deg); 
    align-items: center;
    gap: 10px;
    z-index: 10;

    small {
        color: var(--whiteColor);
    }

    a {
        width: 30px;
        height: 30px;
        background-color: var(--whiteColor);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--mainColor);
    }
}

.prew_Next_Btn {
    position: absolute;
    bottom: 30px;
    right: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 10;
}

.prew_Next_Btn .carousel-control-prev,
.prew_Next_Btn .carousel-control-next {
    position: static;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prew_Next_Btn .carousel-control-prev-icon,
.prew_Next_Btn .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

@media screen and ( max-width: 991px ) {

    /* Navbar */

    .navbar-nav {
        gap: 20px 20px;
    }

    /* Banner */

    #banner {
        margin-top: 20px;
    }
}

@media screen and ( max-width: 850px ) {

    .banner_Title_Text {
        left: 80px !important;

        h2 {
            font-size: 18px !important;
            max-width: 300px;
        }

        p {
            font-size: 12px !important;
        }
    }
}

@media screen and ( max-width: 768px ) {

    /* Header */

    #header {
        display: none;
    }

    /* Banner */

    .carousel-inner {
        border-radius: 0 0 50px 50px;
        max-height: 500px !important;

        .carousel-item {
            position: relative;
            max-height: 500px !important;

            img {
                width: 100%;
                height: 500px !important;
                object-fit: cover;
            }
        }
    }

.banner_SicialMedia {
    left: 5px !important;
}

.carousel-indicators {
    right: -50px !important;
}

.prew_Next_Btn {
    gap: 20px !important;
}

.prew_Next_Btn {
    right: 35px;
}

.prew_Next_Btn .carousel-control-prev, .prew_Next_Btn .carousel-control-next {
    width: 35px;
    height: 35px;
}

    .banner_Title_Text {
        left: 160px;
        width: 250px;

        h2 {
            font-size: 18px !important;
            max-width: 300px;
        }

        p {
            font-size: 12px !important;
        }
    }

    .free_Consulting_Btn {
        padding: 5px 10px !important;
        font-size: 12px !important;
    }

    
}